source "$BSP_DIR/../common/drivers/Kconfig"

menu "RT-Thread rockchip RK3576 drivers"

config RT_USING_CACHE_ECC
    bool "Enable Cache ECC"
    default n

menu "Enable CAN"
    config RT_USING_CAN
        bool "Enable CAN"
        default n

    if RT_USING_CAN
    config RT_USING_CAN0
        bool "Enable CAN0"
        default y
    endif

    if RT_USING_CAN
    config RT_USING_CAN1
        bool "Enable CAN1"
        default n
    endif
endmenu

config RT_USING_CRU
    bool "Enable CRU"
    default n

config RT_USING_DMA
    bool "Enable General DMA Framework"
    default n

if RT_USING_DMA
config RT_USING_DMA_PL330
    bool "Enable PL330 DMA Controller"
    default n

config RT_USING_DMA0
    bool "Enable PL330 DMA0 Controller"
    default n

config RT_USING_DMA1
    bool "Enable PL330 DMA1 Controller"
    default n
endif

config RT_USING_DSMC_HOST
    bool "Enable DSMC HOST"
    default n

config RT_USING_FLEXBUS
    bool "Enable Flexbus"
    default n

if RT_USING_FLEXBUS
config RT_USING_FLEXBUS_ADC
    bool "Enable Flexbus ADC mode"
    select RT_USING_ADC
    select RT_USING_DMA
    default n

config RT_USING_FLEXBUS_DAC
    bool "Enable Flexbus DAC mode"
    select RT_USING_DAC
    select RT_USING_DMA
    default n

config RT_USING_FLEXBUS_SPI
    bool "Enable Flexbus SPI mode"
    default n
endif

menu "Enable GMAC"
    config RT_USING_GMAC
        bool "Enable GMAC"
        select RT_USING_LWIP
        default n

    if RT_USING_GMAC
    config RT_USING_GMAC0
        bool "Enable GMAC0"
        default n
    config RT_USING_GMAC1
        bool "Enable GMAC1"
        default n
    endif
endmenu

if RT_USING_I2C
menu "Enable I2C"
    config RT_USING_I2C0
        bool "Enable I2C0"
        default n

    config RT_USING_I2C1
        bool "Enable I2C1"
        default n

    config RT_USING_I2C2
        bool "Enable I2C2"
        default n

    config RT_USING_I2C3
        bool "Enable I2C3"
        default n

    config RT_USING_I2C4
        bool "Enable I2C4"
        default n

    config RT_USING_I2C5
        bool "Enable I2C5"
        default n

    config RT_USING_I2C6
        bool "Enable I2C6"
        default n

    config RT_USING_I2C7
        bool "Enable I2C7"
        default n

    config RT_USING_I2C8
        bool "Enable I2C8"
        default n

    config RT_USING_I2C9
        bool "Enable I2C9"
        default n

endmenu
endif

config RT_USING_PMU
    bool "Enable PMU"
    default y

if RT_USING_PWM
menu "Enable PWM"
    config RT_USING_PWM0
        bool "Enable PWM0"
        default n

    config RT_USING_PWM1
        bool "Enable PWM1"
        default n

    config RT_USING_PWM2
        bool "Enable PWM2"
        default n
endmenu
endif

config RT_USING_SYSTICK
    bool "Enable SYSTICK"
    default y

menu "Enable UART"
    config RT_USING_UART
        bool "Enable UART"
        default y

    if RT_USING_UART
    config RT_USING_UART0
        bool "Enable UART0"
        default n

    config RT_USING_UART5
        bool "Enable UART5"
        default n
    endif
endmenu

config RT_USING_SARADC
    select RT_USING_ADC
    bool "Enable SARADC"
    default n

if RT_USING_SPI
menu "Enable SPI"
    config RT_USING_SPI0
        bool "Enable SPI0"
        default n

    config RT_USING_SPI1
        bool "Enable SPI1"
        default n

    config RT_USING_SPI2
        bool "Enable SPI2"
        default n

    config RT_USING_SPI3
        bool "Enable SPI3"
        default n

    config RT_USING_SPI4
        bool "Enable SPI4"
        default n
endmenu
endif

config RT_USING_PCIE_DMA
    bool "Enable PCIE DMA"
    depends on (RT_USING_PCIE_EP || RT_USING_PCIE_RC)
    default n

config RT_USING_PCIE_RC
    bool "Enable PCIE Root Port"
    select RT_USING_PCIE_DMA
    default n

menu "Enable Audio Card"
    config RT_USING_AUDIO_CARD_I2S0_8CH
       bool "Enable TDM0 Digital audio card"
       select RT_USING_I2STDM0
       default n

    config RT_USING_AUDIO_CARD_I2S1_8CH
       bool "Enable TDM1 Digital audio card"
       select RT_USING_I2STDM1
       default n

menu "Audio Interfaces"
    config RT_USING_I2STDM
        bool

    config RT_USING_I2STDM0
        bool
        select RT_USING_I2STDM

    config RT_USING_I2STDM1
        bool
        select RT_USING_I2STDM

    config RT_USING_PCM
        bool
        select RT_USING_DMA
endmenu
endmenu
endmenu
